name: armyknife
version: 0.0.1
publish_to: "none"

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

workspace:
  - async_notify2
  - dartx
  - driftx
  - exceptions
  - flutter_testx
  - flutterx
  - future_context2
  - future_context2_hooks
  - logger
  - logger_flutter
  - logger_grinder
  - riverpod_container_async
  - riverpod_container_async_test
  - riverpodx
  - state_stream
  - state_stream_riverpod
  - streams
  - task_queue
  - test_context
  - time
  - yamlx
